{{#each user as |user|}}

<div class="card column is-4">
  <header class="card-header">
    <p class="card-header-title">{{user.list.yelp_id.name}}</p>
    <span class="card-header-icon timestamp">2m</span>
  </header>
  <div class="card-image">
    <img src={{user.list.yelp_id.image_url}} alt="Image">
  </div>
  <div class="card-content details">
    <div class="panel-block-item">
      <span class="likes">303k Likes</span>
    </div>
  </div>
</div>

{{/each}}
