$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.columns {
  // flex-wrap: wrap;
}

.content {
  color: blue;
  min-height: 92vh;
}

.menu {
  cursor: pointer;
  font-size: 18px;
}

.side {
  background-color: #333;
}

.header {
  background-color: #262626;
  color: white;
  height: 10vh;
}

.title {
  color: white;
}

.details {
  height: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.likes {
  border-radius: 3px;
  bottom: 5px;
  left: 5px;
  position: absolute;
}

.delete {
  position: absolute;
  right: 10px;
}
