$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// .columns {
//
// }

.content {
  min-height: 92vh;
}

// profile pic
.avatar {
  border-image: initial;
  border-radius: 42px;
  position: absolute;
  right: 20px;
  top: 10px;
}

// nav
.navbar-item {
  display: flex;
  font-size: 18px;
  left: 10%;
  padding: 5px 150px;
  position: relative;
}

.header {
  background-color: #333;
  border-radius: 3px;
  height: 10vh;
}

.title {
  color: white;
}

.details {
  height: 10px;
}

.card {
  border-radius: 3px;
  margin: 5px;
}

// Likes button
.likes {
  border-radius: 3px;
  bottom: 1px;
  left: 2px;
  position: absolute;
}

// Delete button
.delete {
  position: absolute;
  right: 10px;
  top: 10px;
}
